<!doctype html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Tree</title>
        </head>
        <body>
                <div id="root"></div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js" charset="utf-8"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/mobx/3.1.0/mobx.umd.min.js" charset="utf-8"></script>
                <script src="/static/build/build.js"></script>
        </body>
</html>
